@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-BlackItalic.woff2') format('woff2'),
        url('NotoSansDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Black.woff2') format('woff2'),
        url('NotoSansDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-ExtraBold.woff2') format('woff2'),
        url('NotoSansDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Bold.woff2') format('woff2'),
        url('NotoSansDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-BoldItalic.woff2') format('woff2'),
        url('NotoSansDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-ExtraLight.woff2') format('woff2'),
        url('NotoSansDisplay-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('NotoSansDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-ExtraLightItalic.woff2') format('woff2'),
        url('NotoSansDisplay-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Italic.woff2') format('woff2'),
        url('NotoSansDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-LightItalic.woff2') format('woff2'),
        url('NotoSansDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Light.woff2') format('woff2'),
        url('NotoSansDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Medium.woff2') format('woff2'),
        url('NotoSansDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Regular.woff2') format('woff2'),
        url('NotoSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-MediumItalic.woff2') format('woff2'),
        url('NotoSansDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-Thin.woff2') format('woff2'),
        url('NotoSansDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('NotoSansDisplay-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-SemiBold.woff2') format('woff2'),
        url('NotoSansDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('NotoSansDisplay-ThinItalic.woff2') format('woff2'),
        url('NotoSansDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

