@import "./reset";
@import "./vars";
@import "./fonts";


body{
    font-size: 14px;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    font-family: "Noto Sans Display";
    font-weight: normal;
    color: $dark;
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.wrapper{
    overflow: hidden;
}
.container{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    flex-basis: 100%;
    overflow: hidden;
}
.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.row{
    display: flex;
    position: relative;
    // min-width: 100%;
    transition: .3s all ease-out;
}