@import "./_global";

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #E6E6E6;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    };
    .search-input{
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        padding: 0 15px;
        input{
            width: 360px;
            height: 40px;
            border: none;
            background-color: transparent;
            outline: none;
        }
        button{
            background-color: transparent;
            border: none;
            outline: none;
        }
    }
}
